# order information
orders/*


# firmware
*.ee.hex
*.hex
*.out
*.out.map
*.lst
*.o


# python
*.pyc


# kicad
*.bak
$savepcb*


# temporary
*.swp


# ctags
tags


# don't add reports yet
docs/reports
